<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44362" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Preview\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\preview\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:5253/AspNetCore/" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0tTp/DL1UheKKotaKkAkSbUtWd/9Ac98/deioXkqerJS8qImfxEHMubMpXcm2s3CPXlCsp6sHtlWyDCoNlw4LV6wliuNKNFkMu0VC3K7Gi5v3keiiXvEBDSISKtdIMfhyjQUVWY7ZLs3bG10MjEI3DeN4FVq4SIVObiN8mz+UIeXNFR43J/7lKTuR2nn4TKttHaxY+Ut5g59UtzE/632qU/nXYym7mgFBGrYjnLnU4jXceazluZ3FVWSQEuR8WwS/sraVyJamMEyOrVxRW4eZH2XH2bP6nGTZ068Wm54KkROX1NKE3S4eiUupHNYib6m6J9O4cifAWIpGnZMVJ06nQIDAQAB" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="dca7b136-d7fa-445c-bb36-716e01e11b1e" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <!-- Handle requests up to 1GB -->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>